####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
Electrum_NMC.egg-info/
electrum_nmc/electrum/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea
.mypy_cache
.vscode
electrum_data

# icons
electrum_nmc/electrum/gui/kivy/theming/light-0.png
electrum_nmc/electrum/gui/kivy/theming/light-1.png
electrum_nmc/electrum/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build workspaces
contrib/build-wine/tmp/
contrib/build-wine/fresh_clone/
contrib/build-linux/sdist/fresh_clone/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/android_debug.keystore
contrib/android/android_debug.keystore
contrib/secp256k1/
contrib/zbar/

# shared objects
electrum_nmc/electrum/*.so
electrum_nmc/electrum/*.so.0
electrum_nmc/electrum/*.dll
electrum_nmc/electrum/*.dylib

# Namecoin-Qt forms
electrum_nmc/electrum/gui/qt/forms/configurenamedialog.py
electrum_nmc/electrum/gui/qt/forms/dnsdialog.py
electrum_nmc/electrum/gui/qt/forms/dnssubdomaindialog.py

# Namecoin copy of www root
electrum_nmc/electrum/www
